:root {
  --White: hsl(0, 0%, 100%);
  --Slate-300: hsl(212, 45%, 89%);
  --Slate-500: hsl(216, 15%, 48%);
  --Slate-900: hsl(218, 44%, 22%);
}

/* Reset browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Outfit';
  src: url(../fonts/Outfit-VariableFont_wght.ttf) format('truetype');
}

html,
body {
  font-size: 62.5%;
  font-family: 'Outfit', sans-serif;
  background-color: var(--Slate-300);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 812px;
}

.card {
  background-color: var(--White);
  width: 320px;
  height: 499px;
  margin: auto;
  padding: 1.6rem 1.6rem 4rem;
  border-radius: 2rem;
  box-shadow: 0px 2.5rem 2.5rem rgba(0, 0, 0, 0.048);
}

.card-content {
  width: 288px;
  height: 131px;
  text-align: center;
}

.card-img {
  background-image: url(../images/image-qr-code.png);
  background-size: cover;
  width: 288px;
  height: 288px;
  border-radius: 1rem;
  margin-bottom: 2.4rem;
}

.card-content h1 {
  color: var(--Slate-900);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  padding: 0 1.6rem 1.6rem;
}

.card-content p {
  font-size: 1.5rem;
  color: var(--Slate-500);
  line-height: 1.4;
  letter-spacing: 0.02rem;
  padding: 0 1.6rem;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}